@media only screen and (max-width: 992px) {

	.content-wrapper {
	    width: 90%;
    	margin: auto;
	}

	.view-profile-btn-wrapper {
	    top: auto;
	    bottom: 0;
	    width: 45%;
	}

	.navigation-logo-wrapper {
	    display: block;
    	margin-left: 5%;
	}

	.navigation-logo {
		width: 100%;
	}

	.navigation-menus-wrapper {
		width: 100%;
	}

	.navigation-menus-list {
		width: 90%;
		margin: auto;
		float: none;
	}

	.filter {
		width: 100%;
		display: block;
		margin-top: 50px;
	}

	.filter-title {
	    margin-top: 10px;
	    margin-bottom: 20px;
	}

	.filter-text {
		font-size: 4vw;
	}

	.filter-check {
		padding: 20px;
	}

	.filter-submit-btn {
		font-size: 5vw;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-top: 30px;	
	}

	.pagination > li:nth-child(1n+11) {
		display: none;
	}

	.pagination-wrapper {
		font-size: 4.5vw;
	}

	.pagination {
		width: 80%;
	}

	.next-pagination {
		display: inline-block;
		float: none;
		padding-left: 0;
	}

	.img-wrapper {
		width: 45%;
		float: right;
	}

	.profile-cover {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		padding-left: 0;
	    /*padding-top: 20px;*/
	}

	.profile-heading {
		font-size: 5vw;
	}

	.profile-country {
		font-size: 4vw;
	}

	.profile-date {
		font-size: 3vw;
	}

	.country-flag-logo {
		width: 200px;
	}

	.card {
	    height: 370px;
	}

	.view-profile-btn {
		font-size: 4vw;
	}

	.profile-wrapper {
	    margin-top: 30px;
		width: 45%;
	}

	.navbar-wrapper > ul {
    	width: 90%;
	}

	.beta-logo-wrapper {
	    left: 0;
	    padding: 10px;
	    top: 20%;
	}

	header {
		position: relative;
	}
}