.container {
	width: 100%;
}

header {
	/*height: 100px;*/
	background: #F6F8F8;
}

.beta-logo-wrapper {
    background: #F6F8F8;
    position: absolute;
    background: #eaeaec;
    padding: 20px 5px 5px 5px;
    text-transform: uppercase;
    position: absolute;
    left: 1%;
}

.beta-logo {
	color: #a6a8ac;
}

.header-navigation {
	max-width: 1200px;
	margin: auto;
}

.navigation-logo-wrapper {
	display: inline-block;
    width: 49%; /* It was done due to white spaces from HTML DOM */
}

.navigation-logo {
	max-width: 300px;
    /*margin-left: 12%;*/
	padding: 18px;
}

.navigation-menus-wrapper {
	display: inline-block;
	width: 50%;
}

.navigation-menus-list {
	float: right;
}

.navigation-menus-list > li {
	display: inline-block;
}

.navgation-menu {
    position: relative;
	text-transform: uppercase;
    display: block;
    text-decoration: none;
	color: #a6a8ac;
    padding: 30px 20px;
}

.navbar-menu {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-link {
    display: inline-block;
    color: #a6a8ac;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
}

.navbar-link:hover {
	border-bottom: 10px solid #7fccec;
}

.navbar-wrapper {
    background: #F6F8F8;
    margin-top: 5px;
    height: 56px;
}

.navbar-wrapper > ul {
    max-width: 1200px;
    margin: auto;
}

.content-wrapper {
	max-width: 1200px;
	margin: auto;
}

.filters-wrapper {
	/*max-width*/: 1200px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.filters-heading {
	color: #7fccec;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.filter {
	display: inline-block;
	width: 33%;
}

.filter-title {
    font-size: 25px;
    color: #a6a8ac;
    margin-top: 3px;
    margin-bottom: 3px;
}

.filter-element {
	position: relative;
    background: #F6F8F8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-text {
	font-size: 20px;
	color: #7fccec;
}

.filter-check {
    border: 3px solid #a6a8ac;
    position: absolute;
    padding: 10px;
    top: 25%;
    right: 10%;
}

.filter-submit-btn {
    background: #7fccec;
    border: 0;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.filter-submit-btn:hover {
	background: #57b5e0;
}

.pagination-wrapper {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-bottom: 4px solid #e0e0e1;
}

.pagination-title {
	display: inline-block;
    color: #e0e0e1;
    width: 7%;
}

.pagination {
	display: inline-block;
	width: 90%;
	text-align: center;
}

.next-pagination {
	color: #e0e0e1;
	float: right;
	padding-left: 10px;
}

.pagination > li {
	display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
}

.pagination-text:hover {
	color: #7fccec;
}

.pagination-text {
    color: #e0e0e1;
    text-decoration: none;
}

.card {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-separator {
	background: #e0e0e1;
    padding: 2px;
}

.img-wrapper {
	display: inline-block;
	width: 30%;
}

.profile-wrapper {
	display: inline-block;
	width: 50%;
	text-align: left;
}

.profile-pic {
	width: 100%;
}

.profile-heading {
	color: #929497;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.profile-country {
	color: #c0cbe1;
	font-size: 22px;
}

.profile-date {
	color: #c0cbe1;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.country-flag-logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-profile-btn-wrapper {
	display: inline-block;
    width: 12%;
    position: absolute;
    top: 50%;
    right: 0;
}

.view-profile-btn {
    background: #7fccec;
    border: 0;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    width: 100%;
    cursor: pointer;
}

.view-profile-btn:hover {
	background: #57b5e0;
}

.profile-cover {
	transform: translateY(-30%);
	-webkit-transform: translateY(-30%);
	-moz-transform: translateY(-30%);
	-o-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	padding-left: 20px;
}

.space-separator {
	height: 30px;
}

.user-logo {
    position: absolute;
    top: 30%;
    left: 0;
    width: 20px;
}